.client__title {
  @media (max-width: 1199px) {
    margin-bottom: 30px;
  }

  @media (min-width: 1200px) {
    margin-bottom: 50px;
  }

  font-family: $font-primary;
  color: $primary-title-color;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
}

.client__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.client__item {
  @media (max-width: 767px) {
    max-width: 210px;
    height: 92px;

    &:not(:nth-of-type(n + 5)) {
      margin-bottom: 30px;
    }
  }

  @media (min-width: 768px) {
    width: 224px;

    &:nth-of-type(n + 4) {
      margin-bottom: 0;
    }
  }

  @media (min-width: 1200px) {
    width: 170px;
  }

  transition: color $time-animation $timing-function,
    border-color $time-animation $timing-function;

  &:hover,
  &:focus {
    color: $accent-color;
    border-color: $accent-color;
  }
}

.client__icon {
  display: flex;
  margin: 16px auto;
  fill: currentColor;
}

.client__link {
  @media (max-width: 767px) {
    max-width: 210px;
    height: 92px;
  }

  @media (min-width: 768px) {
    width: 224px;
  }

  @media (min-width: 1200px) {
    width: 170px;
  }
  display: block;
  border-radius: 4%;
  border: 1px solid $client-team-icon-color;
  background-color: $primary-white-color;
  color: $client-team-icon-color;

  transition: color $time-animation $timing-function,
    border-color $time-animation $timing-function;

  &:hover,
  &:focus {
    color: $accent-color;
    border-color: $accent-color;
  }
}
