.footer {
  background-color: $bg-footer-color;
  padding-top: 60px;
  padding-bottom: 60px;

  &__container {
    display: flex;
    align-items: baseline;
  }

  &__group {
    margin-right: 70px;
  }

  &__link {
    font-family: $font-primary;
    line-height: 1.714;

    &:hover,
    &:focus {
      color: $accent-color;
    }

    &--white {
      color: $primary-white-color;

      transition: color $time-animation $timing-function;
    }
  }

  &__item:not(:last-child) {
    margin-bottom: 9px;
  }

  &__social {
    width: 206px;
    height: 80px;
  }

  &__title {
    margin-bottom: 20px;

    font-family: $font-primary;
    font-size: 14px;
    line-height: 1.172;
    font-weight: 700;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: $primary-white-color;
  }

  &__social-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__social-item {
    width: 44px;
    height: 44px;
  }

  &__icon {
    margin: 12px 0px 0px 12px;
    fill: currentColor;
  }

  &__social-link {
    width: 44px;
    height: 44px;
    display: block;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    color: $primary-white-color;

    transition: color $time-animation $timing-function,
      background-color $time-animation $timing-function;

    &:hover,
    &:focus {
      border-radius: 50%;
      color: $primary-white-color;
      background-color: $accent-color;
    }
  }
}

/*---footer email form---*/
.email {
  display: block;
  align-items: center;
  justify-content: center;
  margin-left: auto;

  &__title {
    margin-bottom: 20px;

    font-family: $font-primary;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.143;
    text-align: left;
    text-transform: uppercase;

    color: $primary-white-color;
  }

  &__input {
    width: 358px;
    height: 50px;

    margin-right: 7.79px;
    padding: 15px 16px;

    font-family: $font-primary;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25;
    text-align: left;
    color: rgba(255, 255, 255, 0.6);

    background-color: $bg-footer-color;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;

    transition: box-shadow $time-animation $timing-function;

    &:hover,
    &:focus {
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
      outline: none;
    }

    &::placeholder {
      font-family: $font-primary;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.25;
      text-align: left;

      color: rgba(255, 255, 255, 0.6);
    }
  }

  &__icon {
    display: block;
    margin-left: 10px;
    fill: currentColor;
  }

  &__btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    width: 200px;
    height: 50px;

    font-family: $font-primary;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.875;
    letter-spacing: 0.06em;
    text-align: center;
    color: $primary-white-color;

    background-color: $accent-color;
    border-color: transparent;
    border-radius: 4px;

    cursor: pointer;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    transition: background-color $time-animation $timing-function;

    &:hover,
    &:focus {
      background-color: rgba(255, 255, 255, 0.1);
    }
  }
}
