.hero {
  max-width: 1600px;
  max-height: 600px;
  margin: auto;
  padding-top: 200px;
  padding-bottom: 200px;

  text-align: center;

  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: $bg-footer-color;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/peoplebackground.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &__title {
    margin-bottom: 30px;

    font-family: $font-primary;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;

    color: $primary-white-color;
  }

  &__btn {
    min-width: 200px;
    height: 50px;

    font-family: $font-primary;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;

    border-radius: 4px;
    border-color: transparent;
    cursor: pointer;
    background-color: $accent-color;
    color: $primary-white-color;

    transition: box-shadow $time-animation $timing-function;

    &:hover,
    &:focus {
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }
  }
}
