.logo {
  align-items: center;

  font-family: raleway;
  font-weight: 700;

  color: $accent-color;
  transition: text-shadow $time-animation $timing-function;

  &--header {
    color: $primary-title-color;
  }

  &:hover,
  &:focus {
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.15);
  }

  &--footer {
    color: $primary-white-color;
  }

  @media screen and (max-width: 767px) {
    padding-top: 16px;
    padding-bottom: 16px;
    margin-right: auto;

    font-size: 24px;
    line-height: 1.174;
  }

  @media screen and (min-width: 768px) {
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 88px;

    font-size: 24px;
    line-height: 1.291;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 93px;

    font-size: 26px;
    line-height: 1.192;
  }

  &--margin {
    display: block;
    margin-bottom: 20px;

    @media screen and (max-width: 1199px) {
      text-align: center;
      padding: 0;
      margin-right: 0;
    }

    @media screen and (min-width: 1120px) {
      text-align: left;
    }
  }
}
