.hero__backdrop {
  position: fixed;
  top: 0;
  left: 0;

  height: 100%;
  width: 100%;
  background-color: $backdrop-background-color;
  z-index: 99;
}

.hero__backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.hero__modal {
  position: absolute;
  top: 50%;
  left: 50%;

  min-width: 528px;
  min-height: 581px;
  padding: 40px;

  background-color: $primary-white-color;
  border-radius: 4px;

  transform: translate(-50%, -50%);

  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.hero__close {
  position: absolute;
  top: 0;
  right: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;

  color: $primary-white-color;
  background-color: $primary-white-color;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);

  transform: translate(-8px, 8px);
  transition: fill $time-animation $timing-function;

  &:hover,
  &:focus {
    fill: $accent-color;
    outline: none;
  }
}

/*---modal form---*/
.modal__name {
  margin-bottom: 12px;

  color: $primary-title-color;
  font-family: $font-primary;
  font-size: 20px;
  line-height: 1.172;
  font-weight: 700;
  text-align: center;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__container {
  position: relative;
}

.modal__icon {
  position: absolute;
  top: 11px;
  left: 12px;

  display: inline-block;
  transition: fill $time-animation $timing-function;

  &--checkbox {
    display: block;
    width: 16px;
    height: 15px;

    border-radius: 2px;
    border: 2px solid $primary-title-color;

    margin-right: 8.38px;

    cursor: pointer;

    transition: border-color $time-animation $timing-function,
      background-color $time-animation $timing-function;
  }
}

.modal__label {
  font-family: $font-primary;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  text-align: left;

  margin-bottom: 4px;

  &--checkbox {
    font-family: $font-primary;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.01em;
    text-align: left;

    cursor: pointer;
  }
}

.modal__input {
  height: 40px;
  width: 448px;
  margin-bottom: 10px;

  border: 1px solid $input-modal-form-border;
  background-color: $primary-white-color;
  border-radius: 4px;

  padding-left: 42px;

  color: $primary-text-color;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;

  cursor: pointer;

  transition: border-color $time-animation $timing-function;

  &:focus,
  &:hover {
    border-color: $accent-color;
    outline: none;
  }

  &--checkbox {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
  }
}

.modal__container:focus-within > .modal__icon {
  fill: $accent-color;
}

.modal__container:hover > .modal__icon {
  fill: $accent-color;
}

.modal__textarea {
  height: 120px;
  resize: none;

  margin-bottom: 20px;
  padding: 12px 16px;

  &::placeholder {
    color: rgba(117, 117, 117, 0.5);
  }
}

.modal__container--checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.modal__link {
  color: $accent-color;
  border-bottom: 1px solid $accent-color;
  transition: border-bottom $time-animation $timing-function,
    font-weight $time-animation $timing-function;

  &:focus {
    border-bottom: 2px solid $accent-color;
    font-weight: 400;
    outline: none;
  }
}

.modal__input--checkbox:checked:focus + .modal__icon--checkbox {
  border-color: transparent;
  background-color: $accent-color;
}

/*---modal button---*/
.modal__btn {
  width: 200px;
  height: 55px;
  background-color: $accent-color;
  border-color: transparent;
  border-radius: 4px;

  margin: auto;

  font-family: $font-primary;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;
  text-align: center;
  color: $primary-white-color;

  cursor: pointer;

  transition: text-shadow $time-animation $timing-function;

  &:hover,
  &:focus {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    outline: none;
  }
}
